.cardMember {
  text-decoration: none;
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 90px;

  a {
    text-decoration: none;
    color: var(--body-color);
    transition: filter 0.25s;

    &:hover {
      filter: brightness(0.8) grayscale(100%);
    }
  }

  .containerMemberImage {
    position: relative;

    &:before {
      content: "";
      background: var(--card-background);
      position: absolute;
      left: 0;
      top: 0;
      width: 134.11px;
      height: 229px;
      z-index: -1;
      border-radius: 7px;
      transform: translate(-34.94px, -16.36px);
    }
  }

  .containerMemberDescription {
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 37px;
      color: var(--card-color);
    }

    p {
      font-size: 1rem;
      max-width: 222px;
      color: var(--card-color-text);

      a {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }

  }

}