.Partners {
  margin-top: 100px;

  .containerPartners {
    max-width: 970px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 43px;

    @media (max-width: 970px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 580px) {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }

    a {
      transition: all .3s;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}